p 
  span Name: 
  span #{data.name}
  br
  span Category: 
  span #{data.category}
  br
  span Price: R$
  span #{data.price}
  br
  span Alcohol: 
  span #{data.alcohol}
  br
  span Description: 
  span #{data.description}
  br
  a(href='/beers/#{data._id}/edit') Editar
  br
  a(href='/beers/#{data._id}/remove') Remover




    
